* {
    font-family: system-ui, -apple-system, -apple-system-font, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
}
body {
    background-color: mintcream;
    width: 940px;
    padding: 1.25em;
}
table {
    border-collapse: collapse;
}
caption {
    margin-bottom: 10px;
}
td {
    width: 10%;
    text-align: right;
}

.dateReport td {
    text-align: right;
}

.dateReport td.sparkline {
    width: 40%;
    text-align: center;
}
.dateReport td.sparkline span {
    font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
    cursor: pointer;
}

tbody tr:first-of-type {
    border-top: solid 1px black;
}
tr:nth-child(even) {
    background-color: aliceblue;
}
tbody tr th {
    font-weight: unset;
    font-style: italic;
    text-align: left;
}
tr:hover * {
    background-color: gray;
    color: mintcream;
}
a {
    text-decoration: none;   
}
@keyframes blink {
  25% { 
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.1;
  }
}
.wait-for-it {
  animation: blink 5s step-start 0s infinite;
}

.untriaged {
    text-align: center;
}

.risk1 {
    background-color: #ffcccc;
}
.risk2 {
    background-color: #ff7f7f;
}
.risk3 {
    background-color: #ff4c4c;
}
.risk4 {
    background-color: #ff3232;
}
.risk5 {
    background-color: #ff0000;
}


ul {
    list-style: none;
    margin-top: 0;
    padding-left: 0;
}

#report:target {
    display: default;
}

#date-report:not(:target) {
        display:none;
}

#date-report:target {
    display: default;
}

#report:not(:target) {
    display: none;
}

